@import models.SprintTasks.EnumState;

@(sprint: Sprint)(percent:Integer)(remaningDay:String)(percentWorking:Integer)(timeWorked:Integer)(totalRemaningTime:Integer)

@items(sprint: Sprint)(state:EnumState) = {
<div><ul class="item-draggable"><div class="accordion">
@if(!sprint.getActivatedBacklogEntries.isEmpty()){
    @if(state == EnumState.DONE){
        @sprint.reverseFeatures()
    }
    @for(feature <- sprint.getBacklogEntriesByNumber()) {
        @if(!feature.getTasksInSprintAndFeature(sprint).isEmpty()){
                @if(feature.stateExist(state, sprint)){
                    <h6 data="@feature.getNumber()" class="feature"><span class="nom_feature">@feature.getNumber() - @feature.getName() </span><img src="@routes.Assets.versioned("images/ic_expand.svg")" /></h6>
                    <div>
                    @for(task <- feature.getTasksInSprintAndFeature(sprint)) {
                        @if(task.getState() == state){
                            <li data="@task.getId()" class="@if(SessionController.memberOnTheTask(task)){taskOfTheUser}">
                                <span>@task.getName()</span>
                                <span title="Number of developers" class="badge right">
                                    @if(state == EnumState.DOING){
                                    @task.getMembersTaskDoings().size()
                                    }else {@if(state == EnumState.TOREVIEW){
                                    @task.getMembersTasksReviews().size()
                                    }else {
                                    @{task.getMembersTasksReviews().size()+task.getMembersTaskDoings().size()}
                                    }}
                                </span>
                                <div class="progress progress-task progress-doing">
                                  <div class="progress-bar progress-bar-success" style="width: @task.getProgress()%"></div>
                                </div>
                                <div class="progress progress-task progress-review">
                                    <div class="progress-bar progress-bar-warning" style="width: @task.getProgressReview()%"></div>
                                </div>
                            </li>
                        }
                    }
                    </div>
                }
        }
    }
}
</div></ul></div>
}

@base("Dashboard | <span class='italic'>"+sprint.getName+"</span>") {
    <span id="sprintId" data-id="@sprint.getId"></span>
    <div >
        <p class="text-center italic remaning">@remaningDay</p>
        <div class="progress progress-striped active marg-bottom0 edit-progress">
          <div class="pg progress-bar" style="width: @percent%; min-width:2em" role="progressbar" aria-valuenow="@percent" aria-valuemin="0" aria-valuemax="100">
            @percent %
          </div>
        </div>

        <div class="date">
            <p class="left italic">@sprint.dateFormat(sprint.getStartDate())</p>
            <p class="right italic">@sprint.dateFormat(sprint.getEndDate())</p>
        </div>

        <p class="text-center italic remaning">Working time : @sprint.hourFormat(timeWorked)</p>
        <div class="progress progress-striped active marg-bottom0 edit-progress" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Percent of time worked on remaning time">
            <div class="pg progress-bar progress-bar-warning" style="width: @percentWorking%; min-width:2em" role="progressbar" aria-valuenow="@percentWorking" aria-valuemin="0" aria-valuemax="100">
                @percentWorking %
            </div>
        </div>
        <div class="date">
            <p class="left italic">00h00</p>
            <p class="right italic">Remaining time : @sprint.hourFormat(totalRemaningTime)</p>
        </div>

    <div id="accordion" class="text-center">
        <div class="green-bkg rd-border height180">
            <h4 class="btn_accordion white-txt middle">Charts
                <img src="@routes.Assets.versioned("images/ic_expand_white.svg")" /></h4>
        </div>
        <div class="chart border-accordion">
            <div class="col-lg-6 chart"><div id="chart1" class="chart"></div></div>
            <div class="col-lg-6 chart"><div id="chart2" class="chart"></div></div>
            <div class="col-lg-12 chart"><div id="chart5" class="chart"></div></div>
        </div>
    </div>
</div>


<div class="flex">
    <div id="state-todo" class="col-md-3 state dropable conteneur">
        <div class="div-border">
            <h4>Todo</h4>
            @items(sprint)(EnumState.TODO)
        </div>
    </div>

        <div id="state-doing" class="col-md-3 state dropable conteneur">
            <div class="div-border">
                <h4 class="ui-widget-header">Doing</h4>
                @items(sprint)(EnumState.DOING)
            </div>
        </div>

        <div id="state-toreview" class="col-md-3 state dropable conteneur">
            <div class="div-border">
                <h4 class="ui-widget-header">To review</h4>
                @items(sprint)(EnumState.TOREVIEW)
            </div>
        </div>
        <div id="state-done" class="col-md-3 state dropable conteneur">
            <div class="div-border">
                <h4 class="ui-widget-header">Done</h4>
                @items(sprint)(EnumState.DONE)
            </div>
        </div>


    </div>

    <div class="modal fade" id="infoTask" role="dialog">
        <div class="modal-dialog" style="min-width:90%;">
            <div class="modal-content">

            </div>
        </div>
     </div>

} {
    <script src="@routes.Assets.versioned("javascripts/lib/highcharts.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/charts_sprint.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/dashboard.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/lib/highcharts-exporting.js")"></script>
} {
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/dashboard.css")">
}
