@import models.Members.EnumMem;
@import java.math.BigInteger; var i=0
@import paths.Icon;

@(sprint:Sprint)
<span id="sprintId" data-id="@sprint.getId"></span>
<div class="col-md-12">
    <h3 id="sprintTitle" data-id="@sprint.getId">@sprint.getName</h3>
    @if(sprint.isEditable && SessionController.authorization(EnumMem.SCRUM_MASTER)){
        <a href="#" title="Edit sprint" id="openModalEditSprint" class="btn btn-default disabled edit-button" ><img class="img-responsive" src="@routes.Assets.versioned(Icon.edit)"></a>
    }
    <div id="accordionCharts" class="text-center accordion btn_accordion">
        <h3 id="chartTitleAccordion" class="btn_accordion white-txt">Sprint Charts<img src="@routes.Assets.versioned(Icon.expand_white)" /></h3>
        <div class="border-accordion" style="width:100%;">
            <div class="col-lg-6 chart">
                <div id="chart3" class="chart"></div>
            </div>
            <div class="col-lg-6 chart">
                <div id="chart5" class="chart"></div>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Sprint Resume</h3>
        </div>
        <div class="panel-body">
            <table class="table table-hover table-stripped ">
                <thead>
                <tr>
                    <th>Begin date :</th>
                    <th>End date :</th>
                    <th>Description :</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td id="infosBeginDate">@sprint.dateFormat(sprint.getStartDate)</td>
                    <td id="infosEndDate">@sprint.dateFormat(sprint.getEndDate)</td>
                    <td id="infosDescription">@sprint.getDescription</td>
                </tr>
                </tbody>
            </table>
            <table class="table table-hover table-stripped ">
                <thead>
                <tr>
                    <th>Total Time :</th>
                    <th>Remaining Time :</th>
                    <th>First Estimated Remaining Time :</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td id="totalTime">@sprint.hourFormat(sprint.getTotalTime) (<span class="text-success">@sprint.hourFormat(sprint.getTotalTimeDoing)</span> + <span class="text-warning">@sprint.hourFormat(sprint.getTotalTimeReview)</span>)</td>
                    <td id="updatedRemainingTime">@sprint.hourFormat(sprint.getRemainingTime)</td>
                    <td id="remainingTime">@sprint.hourFormat(sprint.getRemainingTimeEstimate)</td>
                </tr>
                </tbody>
            </table>
            <table class="table table-hover table-stripped">
                <thead>
                <tr>
                    @if(sprint.isRunning()){
                        <th>Day :</th>
                        <th>Time remaining :</th>
                    }
                    <th>Time worked :</th>
                    <th>No. of completed tasks :</th>
                    <th>No. of tasks in progress:</th>
                    <th>No. of tasks not yet started:</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    @if(sprint.isRunning()){
                        <td id="dayNumber">@sprint.getDayNumber</td>
                        <td id="remainingDay">@sprint.toStringRemainingTime</td>
                    }
                    <td id="timeWorked">@sprint.hourFormat(sprint.getTimeWorked)</td>
                    <td id="completedTasks">@sprint.getNumCompletedTasks</td>
                    <td id="progressTasks">@sprint.getNumInProgressTasks</td>
                    <td id="notStartedTasks">@sprint.getNumNotStartedTasks</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading" style="padding:15px 15px;">
            <h3 class="panel-title">Sprint Backlog</h3>
            @if(SessionController.authorization(EnumMem.SCRUM_MASTER) && sprint.isEditable){
            <button id="addFeatureToSprint" class="btn btn-success">Add a feature</button>
            }
        </div>
        <div class="panel-body">
            <div class="accordion" id="accordionFeatures">
            @{i = 0}
            @if(!sprint.getBacklogEntriesByNumber.isEmpty()){
                @for(feature <- sprint.getBacklogEntriesByNumber){
                    <div data-number="@i" class="elemF marg-bottom0" data-id="@feature.getId">
                        @{i = i.toInt + 1}
                        @feature.getName
                        <a href="#" class="featureInfos"><img class="imgInfos" title="Feature infos" src="@routes.Assets.versioned(Icon.info)" width="23" height="23"/></a>
                        <img class="imgExpand" src="@routes.Assets.versioned(Icon.expand)" />
                        <span class="rightData nbTasks">@feature.getTasksInSprintAndFeature(sprint).size() @if(feature.getTasksInSprintAndFeature(sprint).size() == 0 || feature.getTasksInSprintAndFeature(sprint).size() == 1){Task}else{Tasks}</span>
                    </div>
                    <div data-id="@feature.getId" class="elemF marg-bottom0">
                    @if(!feature.getTasksInSprintAndFeature(sprint).isEmpty()){
                        <table class="table table-striped table-hover table-tasks">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>State</th>
                                <th>Description</th>
                                <th>Estimate time</th>
                                <th>Working time</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            @for(task <- feature.getTasksInSprintAndFeature(sprint)){
                                <tr class="elemT" data-id="@task.getId">
                                    <td>@task.getName</td>
                                    <td>@task.getState</td>
                                    <td>@task.getDescription</td>
                                    <td>@task.timeFormat(task.getEstimate)</td>
                                    <td>@task.timeFormat(task.getWorkingTime)</td>
                                    <td>
                                    @if(SessionController.authorization(EnumMem.SCRUM_MASTER) && sprint.isEditable){
                                        <img title="Edit task" class="actionFeature edit-task-modal" src="@routes.Assets.versioned(Icon.edit)" width="25" height="25">
                                    }</td>
                                </tr>
                            }
                            </tbody>
                        </table>
                        <p class="nofound none">No tasks.</p>
                    }else {
                        <p class="nofound">No tasks.</p>
                    }
                    @if(SessionController.authorization(EnumMem.SCRUM_MASTER) && sprint.isEditable){
                        <button data-toggle="modal" data-target="#dialAddTask" class="openModalAddTask btn btn-primary">
                            <img class ="imgAdd" src="@routes.Assets.versioned(Icon.add)" /></button>
                    }
                    </div>
                }
            }else {
                <p class="nofound">No features.</p>
            }
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dialInfosFeature" role="dialog">
    <div class="modal-dialog" style="width:65%;" id="chart-width">
        <div class="modal-content">

        </div>
    </div>
</div>

<div class="yolo modal fade" id="dialInfosTask" role="dialog">
    <div class="modal-dialog" style="min-width:90%;">
        <div class="modal-content">

        </div>
    </div>
</div>
<div class="modal fade" id="dialEditTask" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Edit task : </h4>
            </div>
            <div class="modal-body">
                <div class="col-lg-12">
                    <div class="col-md-3">
                        <p>Name : </p>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="form-control elemT" id="edit-name-task">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="col-md-3">
                        <p>Estimate : </p>
                    </div>
                    <div class="timeSetter col-md-7" id="edit-estimate-task"> </div>
                </div>
                <div class="col-lg-12">
                    <div class="col-md-3">
                        <p>Description : </p>
                    </div>
                    <div class="col-md-9">
                        <textarea class="form-control" rows="3" id="edit-desc-task"></textarea>
                    </div>
                </div>
                <p class="error" id="editTaskError"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="editTask" title="Edit sprint" type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dialEditSprint" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Edit Sprint : </h4>
            </div>
            <div class="modal-body">
                <div class="col-lg-12">
                    <div class="col-md-3">
                        <p>Name : </p>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="edit-name-sprint">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="col-md-3">
                        <p>Begin date : </p>
                    </div>
                    <div class="col-md-9" style="display:inline-flex;">
                        <input readonly type="text" class="form-control edit-date-sprint" id="edit-begin-sprint">
                        <a title="Clear date" id="clearBegin" class="clear">X</a>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="col-md-3">
                        <p>End date : </p>
                    </div>
                    <div class="col-md-9" style="display:inline-flex;">
                        <input readonly type="text" class="form-control edit-date-sprint" id="edit-end-sprint">
                        <a title="Clear date" id="clearEnd" class="clear">X</a>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="col-md-3">
                        <p>Description : </p>
                    </div>
                    <div class="col-md-9">
                        <textarea class="form-control" rows="3" id="edit-desc-sprint"></textarea>
                    </div>
                </div>
                <p class="error" id="editSprintError"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="editSprint" title="Edit sprint" type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dialAddFeatureToSprint" role="dialog">
    <div class="modal-dialog" style="width:75%">
        <div class="modal-content">

        </div>
    </div>
</div>

<div class="modal fade" id="dialAddTask">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add a new task :</h4>
            </div>
            <div class="modal-body">
                <div class="col-lg-12">
                    <div class="col-lg-3">Name : </div>
                    <div class="col-lg-9">
                        <input id="taskName" type="text" placeholder="Name of the task" name="name">
                    </div>
                    <div class="col-lg-3" style="margin-top:2px;margin-bottom:2px;">Estimate time : </div>
                    <div class="timeSetter col-lg-7" style="margin-top:2px;margin-bottom:2px;"></div>
                    <div class="col-lg-3">Description : </div>
                    <div class="col-lg-9">
                        <textarea id="taskDescription" placeholder="Description of the task"></textarea>
                    </div>
                    <p class="error" id="taskError"></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="addTask" title="Add sprint" type="button" class="btn btn-primary">Ok</button>
            </div>
        </div>
    </div>
</div>
