@*Template for Owner*@

@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/icon.png")">
        <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
		<script src="@routes.Assets.versioned("javascripts/dictionary.js")" type="text/javascript"></script>
    </head>
    
    <body>
  	 	@headers.HeaderOwner()
        <div class="content">
       		@content
       	</div>
		@Footer()
    </body>
    @if(session.get("language")=="french"){
		<script type="text/javascript">	
			french()
		</script>	
	}else{
		<script type="text/javascript">	
			english()
		</script>	
	}
</html>