.addMeeting{
	width:60px;
	height:60px;
	border-radius:50%;
	position: fixed;
	bottom: 20px;
	right: 20px;
	font-size:60px;
}

.btn-slider{
	padding:0;
}
.btn-slider button{
	padding:0 !important;
}
.btn-slider span{
	text-align:center;
	border-top: 1px solid gainsboro;
	border-bottom: 1px solid gainsboro;
}
textarea, input[type="text"]{
    width:100%;
    max-width:100%;
}