
.div-add-member {
	height:150px;
}

#plus_add_member {
	font-size:80px;
	position: relative;
	top:50%;
	transform: translateY(-50%);
	text-align:right;	
	
}

#add_a_member {
	position: relative;
	top:50%;
	transform: translateY(-50%);
	text-align:left;
	padding-left:0px;
}

.activate-member img {
	content:url("assets/images/ic_add_black.svg");
}

.deactivate .panel .panel-heading {
	background-color:grey;
}

.none {
	display:none;
}

#team-container {
	margin-top:30px;
}

.line {
	border-top : solid 1px #CFC7C7;
	padding-top: 20px;
}

.disabled-input {
    background-color:white;
}

.input-error{
    color:red;
    text-align:center;
    height:24px;
}

.no-line {
    box-shadow:none !important;
    border:none !important;
    color:black;
}

.font-30 {
    font-size:30px !important;
}

.error-name{
    color:red;
    text-align:center;
    height:24px;
}

.modal-header{
    padding-bottom:0px;
}

#roles {
    margin-top:15px;
}

.role {
    margin-bottom:15px;
}
.img-circle{
    width: 100%;
}
.panel-footer{
    height: 43px;
}

.modal-header h3 {
    float:left;
}

.modal-header h4 {
    float:right;
    margin-right:20px;
    margin-top:30px;
}

table {
    width:100% !important;
    top: -43px;
}

.task-action {
    background-color:rgb(222,222,222);
    padding:5px;
}

.divCharts{
    padding:0;
    display:inline-block;
}

.dataTables_wrapper {
    position:relative;
    top: -43px;
}

.dataTables_length {
    margin-left:110px;
    margin-top:1px;
}

.dataTables_length select{
    width:auto !important;
    background-color: rgb(252, 252, 252) !important;
    height:25px !important;
}

.dataTables_filter {
    margin-top:1px;
    margin-right:3px;
}

.dataTables_filter input {
    background-color:white !important;
    height:25px !important;
}

.charts {
    display:inline-block;
}

.chartTasks , .chartDays{
    padding:0px !important;
    text-align:center !important;
}

.label {
    display:inline-block !important;
    font-size: 100% !important;
    width:11em !important;
    font-weight:initial;
}

.panel-body-main {
    height:15em;
}

.rowRole {
    text-align:center;
    margin-top: 5px;
}

.divRoles {
    padding-top:10px;
    padding-left:0px;
    padding-right:0px;
    text-align:center;
}

#modalRoles {
    float: right;
    margin-top: 30px;
    margin-right: 10px;
}

#tabs {
    background: transparent;
    border: none;
}
#tabs .ui-widget-header {
    background: transparent;
    border: none;
    border-bottom: 1px solid #c0c0c0;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
#tabs .ui-tabs-nav .ui-state-default {
    background: transparent;
    border: none;
}
#tabs .ui-tabs-nav .ui-state-active {
    background: transparent url("/projectus/assets/images/uiTabsArrow.png") no-repeat bottom center;
    border: none;
}
#tabs .ui-tabs-nav .ui-state-default a {
    color: #c0c0c0;
}
#tabs .ui-tabs-nav .ui-state-active a {
    color: #459e00;
}

.divRoles .btn-group{
    width:100% !important;
    display:inline-flex;
    margin-top:10px;
}

.divRoles .btn-role {
    width:100% !important;
    cursor:default;
    box-shadow:none !important;
}

.divRoles .btn-default {

}

.actionsChoice {
     right:0 !important;
     left:inherit !important;
}

.dropdown-scrum {
    background-color:#e51c23 !important;
}

.divRoles .dropdown-toggle {
display:inline-block;
    box-shadow:none !important;
    border:1px solid #c8b6b6;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.divRoles .dropdown-toggle:active, .divRoles .dropdown-toggle:focus {
    border-color:#c8b6b6 !important;
}

.divRoles .btn {
    padding:2px 16px;
}

.divRoles .btn-role.btn-default {
    background-color:#b9b9b9 !important;
}

.ui-widget{
    font-family: inherit !important;
    font-size: inherit !important;
}

#infoMember .panel-body {
    min-height:8em;
}