@*Header for Not Logged*@

<header>
	<img id="imgbanner" src="@routes.Assets.versioned("images/banner_example.jpg")" alt="banner">
	<div class="link">
		<div class="menu">
			<a href=@routes.HomeController.home() id="mhome"></a>
			<a href=@routes.TeamController.team() id="mteam"></a>
			<a href=@routes.PublicationsController.publications() id="mpublications"></a>
			<a href=@routes.ProjectsController.projects() id="mprojects"></a>	
			<a href=@routes.ConferencesController.conferences() id="mconferences"></a>
			<a href="https://www.usherbrooke.ca">UDES</a>
			<a href=@routes.HomeController.changeLanguage("english") class="language" id="en">EN</a>
			<a href=@routes.HomeController.changeLanguage("french") class="language" id="fr">FR</a>
		</div>
	</div>
</header>
<div class="messages">
	@if(flash.containsKey("success")) {
		<p class="success texte">@flash.get("success")</p>
	}
	@if(flash.containsKey("error")) {
	    <p class="error texte">@flash.get("error")</p>
	}
</div>