@import models.Members.EnumMem;

@base("About") {
    <div class="col-md-6 marg-top20">
        <div class=" panel panel-default">
            <div class="panel-heading"><h5>Developers</h5></div>
            <div class="panel-body">
                <h6>First team</h6>
                <ul>
                    <li>Thomas CRENN</li>
                    <li>Mathieu NIVEL</li>
                    <li>Etienne MARTINET</li>
                    <li>Arnaud REGNIER</li>
                    <li>Thibault OGER</li>
                </ul>
            </div>
        </div>
    </div>

} {
} {
}