@import models.Members.EnumMem;

@(releasesActive:List[Releases])(releasesDisactive:List[Releases])(startable:Integer)

@base("Releases & Sprints") {
	@release_solo(releasesActive)(releasesDisactive)(startable)

} {
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/valid_sprint_dates.js")"></script>
	<script type="text/javascript" src="@routes.Assets.versioned("javascripts/releases.js")"></script>
} {
	<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/common_accordion.css")">
	<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/release.css")">
	<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/lib/datePicker.min.css")">
}